{% extends "base.html" %}
{% load blog_tags %}

{% block title %}
    my blog
{% endblock title %}

{% block content %}
    <div class="bradcam_area bradcam_bg_1"></div>
    <div class='login-box'>
        {% for post in posts %}
            <h2>
                <a href='{{post.get_absolute_url}}'>
                    {{post.title}}
                </a>
            </h2>

            <p class="tags">
                Tags :
                {%for tag in post.tags.all %}
                    <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                        {{tag.name}}
                    </a>
                    {% if not forloop.last%}
                        ,
                        {%endif%}
                        {%endfor%}
                        <br>
            </p>
            <p class='date'>
                            Published
                            {{post.publish}}
                            by
                            {{post.author}}
              </p>
              {{post.body | truncatewords_html:30 |markdown|safe}}
            {% endfor %}

          {% include 'paginator.html' with page=posts %}

      </div>
            {% endblock content %}