{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Share a post{% endblock %}

{% block content %}
<div class="bradcam_area bradcam_bg_1">


</div>

<div class='login-box'>
{% if sent %}
<h1>E-mail successfully sent</h1>
<p>{{ post.title }}  was successfully sent to {{ form.cleaned_data.to }}.
</p>
{% else %}
<h1>Share --- {{ post.title }} --- by e-mail</h1>
<form method="post">
{%bootstrap_form form%}
{% csrf_token %}
<input type="submit" value="Send e-mail">
</form>
{% endif %}
</div>
{% endblock %}
