{% extends "base.html" %}



{% block content %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{{job.title}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='login-box'>
       {% if validlink %}
       <p>Please enter (and confirm) your new password.</p>
       <form action="" method="post">
           {% csrf_token %}
           {% bootstrap_form form %}
           <div class="col-md-12">
               <div class="submit_btn">
                   <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
               </div>
           </div>
       </form>
       {% else %}
       <h1>Password reset failed</h1>
       <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
           reset.</p>
       {% endif %}

</div>
{% endblock %}
