{% extends "base.html" %}
{% load bootstrap4 %}


{% block content %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{{job.title}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='login-box'>

<p>{% bootstrap_form form %}</p>
<div class="col-md-12">
    <div class="submit_btn">
        <button class="boxed-btn3 w-100" type="submit">Change Password</button>
    </div>
</div>

</div>
{% endblock %}
